<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list by: Ming Lin</title>
    <link rel="stylesheet" href="../../static/dolist/style.css" />
  </head>
  <body>
    <main class="mainContainer">
      <h1 class="title">My do list</h1>
      <form class="form">
        <div class="form-group">
          <input type="text" class="todo_text" placeholder="What to do?..." />
          <button class="btn_submit">ADD</button>
        </div>
      </form>

      <!-- DELETE BUTTONS -->
      <div class="btn_group">
        <form method="POST">
          {% csrf_token %}

          <button class="btn_del" name="del" value="del_completed">
            DELETE COMPLETED
          </button>
        </form>
        <form method="POST">
          {% csrf_token %}

          <button class="btn_del" name="del" value="del_all">DELETE ALL</button>
        </form>
      </div>

      <!-- LIST DISPLAY -->
      <ul class="list_do">
        <li class="list_item">Add a do list</li>
        {% for i in todo_items %} {% if i.completed %}
        <li class="list_item completed">{{i.text}}</li>
        {% else %}
        <li class="list_item">{{i.text}}</li>
        {% endif %} {% endfor %}
      </ul>
    </main>
  </body>
</html>
